.aboutMeContainer {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background-color: rgba(28, 28, 28,);
    box-shadow: 0 29px 63px 163px rgba(28, 28, 28, 1);}


.aboutMeMainContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100vh;
}


.d-none {
    display: none;
}

.whoAmI {
    font-size: 1.5rem;
    margin-bottom: 16px;
}


.photo {
    height: auto;
    width: min(660px, 35vw);
    filter: grayscale(100%);
}


.aboutImgShadowContainer {
    position: absolute;
    top: 64px;
    left: 128px; 
    z-index: 10;
    -webkit-box-shadow: 0px 0px 15px 5px #39514d; 
box-shadow: 0px 0px 15px 5px #39514d;
border-radius: 20px;
}


.aboutMeImgContainer {
    width: fit-content;
    border-radius: 20px;
    background: linear-gradient(45deg, #2c413c 50%, #39514d 100%) !important;
    z-index: 10;
}


.aboutImgShadowContainer .diagonal-box {
    transition: transform 0.2s ease-in-out; 
}

.aboutImgShadowContainer:hover  .diagonal-box {
    transform: translate(-64px, 64px);
    transform: opacity(100%);
}


.aboutMeImgContainer img {
    display: block;
    border-radius: 20px;
}


.aboutMeWhoContainer {
    position: absolute;
    bottom: 64px;
    right: 64px;
    width: min(660px, 35vw);
    z-index: 10;
}


.meContainer {
    height: fit-content;
    width: min(660px, 35vw);
    border: 1px solid;
    border-radius: 2rem;
    padding: 32px;
    background: linear-gradient(45deg, #2c413c 50%, #39514d 100%);
}


.aboutMeHeadline {
    font-size: calc(1.175rem + 1.5vw) !important;
    margin-bottom: 24px;
}


.iconTextContainer {
    display: flex;
    align-items: center;
    margin-top: 16px;
}


.iconAbout {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    margin-right: 16px;
}


    .diagonal-box {
        position: absolute;
        top: 0px;
        left: 0px; 
        width: min(660px, 35vw);
        height: 100%;
        background-color: rgba(28, 28, 28,);
        border-radius: 20px;
        overflow: hidden;
        z-index: -5;
        background: repeating-linear-gradient(
            225deg,  
            #faf9fa,  
            #ece7ed,  
            transparent 2px,  
            transparent 20px  
        );
    }
    


    .diagonal-box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;  
        z-index: 2;
        pointer-events: none;
        background: repeating-linear-gradient(
            225deg,  
            transparent 2px,  
            transparent 20px  
        );
    }


.shadowbox::before { 
    background: repeating-linear-gradient(
    );
}


@media only screen and (max-width: 1100px) { 



    .aboutMeMainContainerMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .whoAmIMobile {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 16px;
        }

        .diagonal-box {
            display: none;
        }


        .aboutMeMainContainer {
            display: none;
            justify-content: center;
        }


        .photo {
            width: min(660px, 80vw);
        }
    
    
    
    
    
    
    
        .aboutMeWhoContainer {
            right: auto;
            width: min(660px, 90vw);
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: -60vh;
    
    }
    
    .meContainer {
        width: min(660px, 90vw);
    }
    
    
    .meContainer[_ngcontent-ng-c1901136293] {
    
        padding: 24px;
    }
    
    
    .aboutImgShadowContainer {
        top: 64px;
        left: auto;
    }
    
    
    
    
    .aboutMeContainer {
        height: min(1200px, 340vw);
        padding: 24px;
    }
    
        
}


@media only screen and (max-width: 800px) { 










}


@media only screen and (max-width: 370px) { 

    .aboutMeContainer {
        height: min(1275px, 415vw);
    }


    .aboutMeWhoContainer {

        bottom: -16vh;

}
  }

