<div class="portfolioContainer" id="portfolio">
    <main class="portfolioMainContainer">
        <article class="headlinesPortfolioContainer">
            <div class="smallHeadlinePortfolio themeColorFont"><b>Portfolio</b></div>
            <div class="headlinePortfolio themeColorFont"><b>{{ 'PORTFOLIO.Projects' | translate }}</b></div>
            <div class="descriptionPortfolio">{{ 'PORTFOLIO.ExploreProjects' | translate }}</div>
        </article>

        <div>
            <div class="videoContainer">
                <div class="portfolioTechnologies backgroundTheme themeBorderColor" (mouseenter)="onHoverVideo(true)" (mouseleave)="onHoverVideo(false)">
                
                <div class="portfolioNameTechnologiesContainer">
                    <div class="portfolioNameArrowContainer">
                <div class="videoName"><b>Videoflix</b></div>
                <div class="portfolioNameArrow">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5675 3.3989L1.68683 12.2798C1.48047 12.486 1.25023 12.5841 0.996115 12.5742C0.741997 12.5643 0.511837 12.4563 0.305636 12.2501C0.0992746 12.0437 -0.00390625 11.8085 -0.00390625 11.5445C-0.00390625 11.2805 0.0992746 11.0453 0.305636 10.8389L9.15656 1.98799H1.78674C1.50802 1.98799 1.27267 1.89248 1.08069 1.70145C0.888542 1.51026 0.792469 1.27603 0.792469 0.998753C0.792469 0.721476 0.888542 0.485565 1.08069 0.291023C1.27267 0.0966412 1.50802 -0.000549316 1.78674 -0.000549316H11.5617C11.8405 -0.000549316 12.0759 0.0954442 12.268 0.28743C12.46 0.479576 12.556 0.715006 12.556 0.993722V10.7687C12.556 11.0474 12.4605 11.2829 12.2695 11.475C12.0783 11.667 11.844 11.763 11.5668 11.763C11.2895 11.763 11.0537 11.667 10.8593 11.475C10.6647 11.2829 10.5675 11.0474 10.5675 10.7687V3.3989Z" fill="black"/>
                    </svg>
                </div>
            </div>
                <div class="videoTechnologies">
                    <div class="rightLine lp themeBorderColor">Django</div>
                    <div class="rightLine themeBorderColor">Python</div>
                    <div class="rightLine themeBorderColor">Angular</div>
                    <div class="rightLine themeBorderColor">TypeScript</div>
                </div>
            </div>
                <article class="projectDescription">
                    {{ 'PORTFOLIO.VideoPortfolio' | translate }}
                
                </article>


                <div class="portfolioButtonContainer ColorButton">
                    <button  (click)="openGitHubVideo()"  class="animatedButton themeColorButton ColorButton"><p>GitHub Frontend</p></button>
                    <button  (click)="openGitHubVideoBackend()"  class="animatedButton themeColorButton ColorButton"><p>GitHub Backend</p></button>
                    <button (click)="openLiveTestVideo()"  class="animatedButton themeColorButton ColorButton"><p>Live Test</p></button>
                </div>
                </div>



                <div class="projectContainerVideoportfolioMobile">
                    <img class="photoProject"   src="././assets/img/videoflix_gif.gif" 
                    alt="Fabian Portfolio"   loading="lazy">
                </div>
            </div>
            <div class="joinContainer themeBorderColor">
                <div class="portfolioTechnologiesJoin backgroundTheme themeBorderColor" (mouseenter)="onHoverJoin(true)" (mouseleave)="onHoverJoin(false)">
                    <div class="portfolioNameTechnologiesContainer">
                    <div class="portfolioNameArrowContainer">
                        <div class="joinName"><b>Join</b></div>
                        <div class="portfolioNameArrow">
                            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5675 3.3989L1.68683 12.2798C1.48047 12.486 1.25023 12.5841 0.996115 12.5742C0.741997 12.5643 0.511837 12.4563 0.305636 12.2501C0.0992746 12.0437 -0.00390625 11.8085 -0.00390625 11.5445C-0.00390625 11.2805 0.0992746 11.0453 0.305636 10.8389L9.15656 1.98799H1.78674C1.50802 1.98799 1.27267 1.89248 1.08069 1.70145C0.888542 1.51026 0.792469 1.27603 0.792469 0.998753C0.792469 0.721476 0.888542 0.485565 1.08069 0.291023C1.27267 0.0966412 1.50802 -0.000549316 1.78674 -0.000549316H11.5617C11.8405 -0.000549316 12.0759 0.0954442 12.268 0.28743C12.46 0.479576 12.556 0.715006 12.556 0.993722V10.7687C12.556 11.0474 12.4605 11.2829 12.2695 11.475C12.0783 11.667 11.844 11.763 11.5668 11.763C11.2895 11.763 11.0537 11.667 10.8593 11.475C10.6647 11.2829 10.5675 11.0474 10.5675 10.7687V3.3989Z" fill="black"/>
                            </svg>
                        </div>
                    </div>
                <div class="joinTechnologies"> 
                    <div class="rightLine themeBorderColor">Django</div>
                    <div class="rightLine themeBorderColor">Python</div>
                    <div class="rightLine themeBorderColor">Angular</div>
                    <div class="rightLine themeBorderColor">TypeScript</div>
                    
                </div>
            </div>

                <article class="projectDescription">
                    {{ 'PORTFOLIO.Join' | translate }}
                
                </article>



                <div class="portfolioButtonContainer  ColorButton">
                    <button (click)="openGitHubJoin()"  class="animatedButton themeColorButton ColorButton"><p>GitHub Frontend</p></button>
                    <button (click)="openGitHubJoinBackend()"  class="animatedButton themeColorButton ColorButton"><p>GitHub Backend</p></button>
                </div>
                </div>


                <div class="projectContainerJoinMobile">
                    <img class="photoProject"   src="././assets/img/join_gif.gif" 
                    alt="Fabian Portfolio"   loading="lazy">
                </div>
            </div>
            <div class="portfolioProjectsContainer">
            <div class="elPolloContainer themeBorderColor">
                <div class="portfolioTechnologies backgroundTheme themeBorderColor"  (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">
                    <div class="portfolioNameTechnologiesContainer">
                    <div class="portfolioNameArrowContainer">
                <div class="elPolloName"><b>El Pollo Loco</b></div>
                <div class="portfolioNameArrow">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5675 3.3989L1.68683 12.2798C1.48047 12.486 1.25023 12.5841 0.996115 12.5742C0.741997 12.5643 0.511837 12.4563 0.305636 12.2501C0.0992746 12.0437 -0.00390625 11.8085 -0.00390625 11.5445C-0.00390625 11.2805 0.0992746 11.0453 0.305636 10.8389L9.15656 1.98799H1.78674C1.50802 1.98799 1.27267 1.89248 1.08069 1.70145C0.888542 1.51026 0.792469 1.27603 0.792469 0.998753C0.792469 0.721476 0.888542 0.485565 1.08069 0.291023C1.27267 0.0966412 1.50802 -0.000549316 1.78674 -0.000549316H11.5617C11.8405 -0.000549316 12.0759 0.0954442 12.268 0.28743C12.46 0.479576 12.556 0.715006 12.556 0.993722V10.7687C12.556 11.0474 12.4605 11.2829 12.2695 11.475C12.0783 11.667 11.844 11.763 11.5668 11.763C11.2895 11.763 11.0537 11.667 10.8593 11.475C10.6647 11.2829 10.5675 11.0474 10.5675 10.7687V3.3989Z" fill="black"/>
                    </svg>
                </div>

            </div>
                <div class="elPolloTechnologies">
                    <div class="rightLine themeBorderColor">JavaScript</div>
                    <div class="rightLine themeBorderColor">HTML</div>
                    <div class="lp">CSS</div>
                </div>
                </div>

                <article class="projectDescription">
                    {{ 'PORTFOLIO.ElPolloLoco' | translate }}
                
                </article>


                <div class="portfolioButtonContainer ColorButton">
                    <button  (click)="openGitHubElPollo()" class="animatedButton themeColorButton ColorButton"><p>GitHub</p></button>
                    <button  (click)="openLiveTestElPollo()" class="animatedButton themeColorButton ColorButton"><p>Live Test</p></button>
                </div>
                </div>


                <div class="projectContainerElPolloMobile">
                    <img class="photoProject"   src="././assets/img/el_pollo_loco_gif.gif" 
                    alt="Fabian Portfolio"   loading="lazy">
                </div>
            </div>
        </div>

        </div>


    </main>

    <div class="projectContainerElPollo mobileProject" *ngIf="isHovered">
        <img class="photoProject"   src="././assets/img/el_pollo_loco_gif.gif" 
        alt="Fabian Portfolio"   loading="lazy">
        <div class="diagonalBox"></div>
    </div>


    <div class="projectContainerJoin mobileProject" *ngIf="isHoveredJoin">
        <img class="photoProject"   src="././assets/img/join_gif.gif" 
        alt="Fabian Portfolio"   loading="lazy">
        <div class="diagonalBox"></div>
    </div>


    <div class="projectContainerVideoportfolio mobileProject" *ngIf="isHoveredVideo">
        <img class="photoProject"   src="././assets/img/videoflix_gif.gif" 
        alt="Fabian Portfolio"   loading="lazy">
        <div class="diagonalBox"></div>
    </div>
</div>