<div class="contactMeContainer">
    <main class="contactMeMain">
        <div class="contactMeDescriptionContainer">
    <div class="contactMeSmallHeadline themeColorFont"><b>{{ 'CONTACTME.ContactMe' | translate }}</b></div>
    <div class="contactMeHeadline themeColorFont"><b>{{ 'CONTACTME.Work' | translate }}</b></div>
    <div class="contactMeSmallHeadline themeColorFont"><b>{{ 'CONTACTME.Problem' | translate }}</b></div>
    <div class="contactMeDescription"> 
        {{ 'CONTACTME.ContactForm' | translate }}
    </div>
        <div class="contactMeTalkConatiner">
            <span class="contactMeNeed">{{ 'CONTACTME.NeedFullstack' | translate }}</span>
            <span class="contactMeTalk themeColorFont">&nbsp;{{ 'CONTACTME.Talk' | translate }}</span>
        </div>
        </div>

        <div class="contactMeInputContainer">
            <div class="contactmeLine themeBorderColor"></div>
            <div  class="contactMeNameContainer">
                <div class="contactMeNameHeadline themeColorFont">{{ 'CONTACTFORM.WhatName' | translate }}</div>
                <div class="contactMeNameInput">
                    <div class="flex displayColumn flex-column gap-2">
                        <label for="name">{{ 'CONTACTFORM.Name' | translate }}</label>
                        <input 
                        placeholder="{{ 'CONTACTFORM.EnterName' | translate }}"
                            type="text"
                            pInputText 
                            id="name" 
                            aria-describedby="name-help" 
                            [(ngModel)]="valueName" />
                        <small id="name-help" *ngIf="!nameEntered">
                            Enter your Name.
                        </small>
                    </div>
                </div>
            </div>
            <div class="contactmeLine themeBorderColor"></div>
            <div class="contactMeEmailContainer">
                <div class="contactMeEmailHeadline themeColorFont">{{ 'CONTACTFORM.WhatEmail' | translate }}</div>
                <div class="contactMeEmailInput">
                    <div class="flex displayColumn flex-column gap-2">
                        <label for="email">{{ 'CONTACTFORM.Email' | translate }}</label>
                        <input 
                        placeholder="{{ 'CONTACTFORM.EnterEmail' | translate }}"
                            type="text"
                            pInputText 
                            id="email" 
                            aria-describedby="email-help" 
                            [(ngModel)]="valueEmail" />
                        <small id="email-help" *ngIf="!nameEntered">
                            Enter your email.
                        </small>
                    </div>
                </div>
            </div>
            <div class="contactmeLine themeBorderColor"></div>
            <div class="contactMeTextContainer">
                <div class="contactMeTextHeadline themeColorFont">{{ 'CONTACTFORM.WhatMessage' | translate }}</div>
                <div class="contactMeTextInput">
                    <div class="flex displayColumn flex-column gap-2 themeBorderColor">
                        <label for="message">{{ 'CONTACTFORM.Message' | translate }}</label>
                        <textarea 
                        placeholder="{{ 'CONTACTFORM.EnterMessage' | translate }}"
                            variant="filled"
                            rows="5"
                            cols="30" 
                            pInputTextarea 
                            [(ngModel)]="valueMessage">
                        </textarea>
                        <small id="message-help" *ngIf="!nameEntered">
                            Enter your message.
                        </small>
                    </div>
                </div>
            </div>
            <div class="contactmeLine themeBorderColor"></div>
            <div>
                <div class="ContactMeCheckboxTextContainer">
                <div class="contactMeCheckbox">
                    <p-checkbox 
    [(ngModel)]="checkedPrivacy" 
    [binary]="true" 
    inputId="binary" />
                </div>
                <div class="contactMePrivacyContainer">
                    <div class="contactMeText">&nbsp;{{ 'CONTACTFORM.Read' | translate }}</div>
                    <div class="contactMeTextPrivacy themeColorFont">&nbsp;{{ 'CONTACTFORM.Policy' | translate }}</div>
                    <div class="contactMeTextData">&nbsp;{{ 'CONTACTFORM.Agree' | translate }}</div>
                </div>
            </div>
        </div>
            <div class="contactMeButtonContainer">
                <button  class="animatedButton themeColorButton"><p>{{ 'CONTACTFORM.Hello' | translate }}</p></button>
            </div>


        </div>
    </main>
</div>
