<div class="contactMeContainer">
    <main class="contactMeMain">
        <div class="contactMeDescriptionContainer">
    <div class="contactMeSmallHeadline themeColorFont"><b>Contact me</b></div>
    <div class="contactMeHeadline themeColorFont"><b>Let´s work together</b></div>
    <div class="contactMeSmallHeadline themeColorFont"><b>Got a problem to solve?</b></div>
    <div class="contactMeDescription"> Contact me trough this form, 
        I am interested inhearing from you, 
        knowing your ideas and contributing to your projects with my work.
    </div>
        <div class="contactMeTalkConatiner">
            <span class="contactMeNeed">Need a Fullstack Developer?</span>
            <span class="contactMeTalk themeColorFont">&nbsp;Let´s talk!</span>
        </div>
        </div>

        <div class="contactMeInputContainer">
            <div class="contactmeLine themeBorderColor"></div>
            <div  class="contactMeNameContainer">
                <div class="contactMeNameHeadline themeColorFont">What´s your name?</div>
                <div class="contactMeNameInput">
                    <div class="flex displayColumn flex-column gap-2">
                        <label for="username">Name</label>
                        <input 
                        placeholder="Enter your Name"
                            type="text"
                            pInputText 
                            id="username" 
                            aria-describedby="username-help" 
                            [(ngModel)]="value" />
                        <small id="username-help" *ngIf="!nameEntered">
                            Enter your username to reset your password.
                        </small>
                    </div>
                </div>
            </div>
            <div class="contactmeLine themeBorderColor"></div>
            <div class="contactMeEmailContainer">
                <div class="contactMeEmailHeadline themeColorFont">What´s your email?</div>
                <div class="contactMeEmailInput ng-invalid"><p-floatLabel>
                    <input  type="email"  pInputText id="email" [(ngModel)]="value" />
                    <label  for="email">Email</label>
                </p-floatLabel>
                </div>
            </div>
            <div class="contactmeLine themeBorderColor"></div>
            <div class="contactMeTextContainer">
                <div class="contactMeTextHeadline themeColorFont">How can i help you?</div>
                <div class="contactMeTextInput"><p-floatLabel>
                    <input pInputText id="text" [(ngModel)]="value" />
                    <label for="text">Text</label>
                </p-floatLabel>
                </div>
            </div>
            <div class="contactmeLine"></div>
            <div>
                <div class="ContactMeCheckboxTextContainer">
                <div class="contactMeCheckbox">
                    <p-checkbox 
    [(ngModel)]="checkedPrivacy" 
    [binary]="true" 
    inputId="binary" />
                </div>
                <div class="contactMePrivacyContainer">
                    <div class="contactMeText">&nbsp;I´ve read the</div>
                    <div class="contactMeTextPrivacy themeColorFont">&nbsp;privacy policy</div>
                    <div class="contactMeTextData">&nbsp;and agree to the processing of my data as outlined</div>
                </div>
            </div>
        </div>
            <div>
                <button  class="animatedButton themeColorButton"><p>Say Hello ;)</p></button>
            </div>


        </div>
    </main>
</div>
