<div class="contactMeContainer" id="contactMe">
    <main class="contactMeMain">
        <div class="contactMeDescriptionContainer">
    <div class="contactMeSmallHeadline themeColorFont"><b>{{ 'CONTACTME.ContactMe' | translate }}</b></div>
    <div class="contactMeHeadline themeColorFont"><b>{{ 'CONTACTME.Work' | translate }}</b></div>
    <div class="contactMeSmallHeadline themeColorFont"><b>{{ 'CONTACTME.Problem' | translate }}</b></div>
    <div class="contactMeDescription"> 
        {{ 'CONTACTME.ContactForm' | translate }}
    </div>
        <div class="contactMeTalkConatiner">
            <span class="contactMeNeed">{{ 'CONTACTME.NeedFullstack' | translate }}</span>
            <span class="contactMeTalk themeColorFont">&nbsp;{{ 'CONTACTME.Talk' | translate }}</span>
        </div>
        </div>

        <div class="contactMeInputContainer">
            <div class="contactmeLine themeBorderColor"></div>

            <form #contactForm="ngForm" (ngSubmit)="sendMail(contactForm)" novalidate>
            <div  class="contactMeNameContainer">
                <div class="contactMeNameHeadline themeColorFont">{{ 'CONTACTFORM.WhatName' | translate }}</div>
                <div class="contactMeNameInput">
                    <div class="flex displayColumn flex-column gap-2">
                        <label for="name">{{ 'CONTACTFORM.Name' | translate }}</label>
                        <input 
                        placeholder="{{ 'CONTACTFORM.EnterName' | translate }}"
                            type="text"
                            pInputText 
                            id="name" 
                            aria-describedby="name-help" 
                            [(ngModel)]="valueName" 
                            name="name"
                            #nameModel="ngModel"
                            required
                            autocomplete="name" 
                            />
                            <small id="name-help" *ngIf="nameModel.invalid && (nameModel.dirty || nameModel.touched)" class="error-text">
                                <span class="errorSmall" *ngIf="nameModel.errors?.['required']">{{ 'CONTACTFORM.ErrorName' | translate }}</span>
                            </small>
                    </div>
                </div>
            </div>
            <div class="contactmeLine themeBorderColor"></div>
            <div class="contactMeEmailContainer">
                <div class="contactMeEmailHeadline themeColorFont">{{ 'CONTACTFORM.WhatEmail' | translate }}</div>
                <div class="contactMeEmailInput">
                    <div class="flex displayColumn flex-column gap-2">
                        <label for="email">{{ 'CONTACTFORM.Email' | translate }}</label>
                        <input 
                        placeholder="{{ 'CONTACTFORM.EnterEmail' | translate }}"
                            type="email"
                            pInputText 
                            id="email" 
                            aria-describedby="email-help" 
                            [(ngModel)]="valueEmail" 
                            name="email"
                            #emailModel="ngModel"
                            required
                            email
                            autocomplete="email" 
                            />
                            <small id="email-help" *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)" class="error-text">
                                <span class="errorSmall"  *ngIf="emailModel.errors?.['required']">{{ 'CONTACTFORM.ErrorEmail' | translate }}</span>
                                <span class="errorSmall"  *ngIf="emailModel.errors?.['email']">{{ 'CONTACTFORM.ErrorEmailValid' | translate }}</span>
                              </small>
                    </div>
                </div>
            </div>
            <div class="contactmeLine themeBorderColor"></div>
            <div class="contactMeTextContainer">
                <div class="contactMeTextHeadline themeColorFont">{{ 'CONTACTFORM.WhatMessage' | translate }}</div>
                <div class="contactMeTextInput">
                    <div class="flex displayColumn flex-column gap-2 themeBorderColor">
                        <label for="message">{{ 'CONTACTFORM.Message' | translate }}</label>
                        <textarea 
                        placeholder="{{ 'CONTACTFORM.EnterMessage' | translate }}"
                            variant="filled"
                            rows="5"
                            cols="30" 
                            pInputTextarea 
                            [(ngModel)]="valueMessage"
                            name="message"
                            #messageModel="ngModel"
                            required
                            >
                            
                        </textarea>
                        <small id="message-help" *ngIf="messageModel.invalid && (messageModel.dirty || messageModel.touched)" class="error-text">
                            <span class="errorSmall"  *ngIf="messageModel.errors?.['required']">{{ 'CONTACTFORM.ErrorText' | translate }}</span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="contactmeLine themeBorderColor"></div>
            <div>
                <div class="ContactMeCheckboxTextContainer">
                <div class="contactMeCheckbox">
                    <p-checkbox 
                    [(ngModel)]="checkedPrivacy" 
                    [binary]="true" 
                    name="privacy"
                    #privacyModel="ngModel"
                    inputId="binary"
    />
    <small *ngIf="!checkedPrivacy && (privacyModel.dirty || privacyModel.touched)" class="error-text">
        <span  class="errorSmall" >{{ 'CONTACTFORM.ErrorPivacy' | translate }}</span>
      </small>
                </div>
                <div class="contactMePrivacyContainer">
                    <div class="contactMeText">&nbsp;{{ 'CONTACTFORM.Read' | translate }}</div>
                    <div class="contactMeTextPrivacy themeColorFont">&nbsp;{{ 'CONTACTFORM.Policy' | translate }}</div>
                    <div class="contactMeTextData">&nbsp;{{ 'CONTACTFORM.Agree' | translate }}</div>
                </div>
            </div>
        </div>
            <div class="contactMeButtonContainer">
                <button        type="submit"
                class="animatedButton themeColorButton"
                [disabled]="contactForm.invalid || !checkedPrivacy">
                    <p>{{ 'CONTACTFORM.Hello' | translate }}</p></button>
            </div>

        </form>
        </div>
    </main>
</div>
