input, textarea {
    background-color: rgba(28, 28, 28,); 
    width: 35vw !important;
    margin-bottom: 8px;
    margin-top: 8px;
}


.contactMeContainer {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 90vh;
    overflow: hidden;
}

.contactMeContainer::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(28, 28, 28,);    
    z-index: -1;
}


.contactMeMain {
    position: absolute;
    top: 124px;
    display: flex;
}


.contactMeDescriptionContainer {
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}


.contactMeHeadline {
    font-size: calc(1.175rem + 1.5vw) !important;
    margin-bottom: 16px;
}

.d-none {
    display: none;
}


.contactMeSmallHeadline {
    font-size: 1.5rem;
    margin-bottom: 16px;
}


.contactMeEmailHeadline {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.contactMeTextPrivacy {
    cursor: pointer;
    font-style: italic;
}

.contactMeTextPrivacy:hover {
    transform: scale(1.05);
}


.contactMeTextHeadline {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.contactMeNameHeadline {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contactMeDescription {
    margin-bottom: 16px;
    margin-right: 32px;
}


.ContactMeCheckboxTextContainer {
    display: flex;
    flex-direction: row;
}


.contactMePrivacyContainer {
    display: flex;
    flex-wrap: wrap;
    margin-right: 32px;
    padding-right: 32px;
}


.contactMeNameContainer {
    margin-left: 32px;
}


.contactMeEmailContainer {
    margin-left: 32px;
}


.contactmeLine {
    border: 1px solid;
    width: 80%;
    height: 1px;
    margin-bottom: 16px;
}



.contactMeTextContainer {
    margin-left: 32px;
}


.contactMeTextContainer {
    display: flex;
    flex-direction: column;
}


.contactMeInputContainer {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.displayColumn {
    display: flex;
    flex-direction: column;
}


.contactMeNameInput {
    display: flex;
    margin-bottom: 16px;
    
}


.contactMeEmailInput {
    margin-bottom: 16px;

}


.contactMeTextInput {
    margin-bottom: 16px;
}


.contactMeButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}


.animated-button button .p-button-label {
    display: inline-block;
    white-space: nowrap; 
    will-change: transform; 
  }
  
  
  .animatedButton {
    margin: 16px;
      position: relative;
      overflow: hidden;  
      width: 125px;  
      height: 36px;  
      display: flex;  
    justify-content: center;  
    align-items: center;  
    overflow: hidden;  
    background-color: rgba(0, 0, 0, 0);  
    color: white;  
  
    cursor: pointer;
  
    border: 1px solid;
    border-radius: 2rem;
    transition: color 0.5s ease, border-color 0.5s ease,;  
  
  
  
      p {
          display: inline-block;
          white-space: nowrap;
          transform: translateX(0);  
          animation: none;  
      }
    
    }
    


    .animatedButton:hover {
        transform: scale(1.1);
    }


.errorSmall {
    color: #ff5757;
    margin-left: 8px;
}


.errorHighlight {
    flex-direction: column!important;
}

.errorHighlightPadding {
    margin-top: 16px;
    margin-left: 32px;
}

button:disabled {
    cursor: no-drop;
  }



  @media only screen and (max-width: 1100px) { 




    .contactMeContainer {
        display: flex;
        justify-content: center;
        height: min(1155px, 299vw);    
        }




    .contactMeContainer::before {
        height: min(1155px, 299vw);    
        }


    .contactMeMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: auto;
        width: 100%;
    }



    .contactMeDescriptionContainer {
        width: 90vw;

    }


    .contactMeInputContainer {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }



    .contactmeLine {
        width: 100%;
    }


    .ContactMeCheckboxTextContainer {
        width: 95vw;
        flex-direction: row;
    }


    input, textarea {
        width: 82vw!important;
    }
  }


  @media only screen and (max-width: 450px) { 

    

    .ContactMeCheckboxTextContainer {
        position: absolute;
        left: 56%;
        transform: translateX(-50%);
    }
    

    .animatedButton {
        margin: 85px;
    }


    
  }


  @media only screen and (max-width: 370px) { 

    .contactMeContainer {

        height: min(1189px, 326vw);
    }


    .contactMeContainer::before {
        height: min(1215px, 335vw);
    }

    
  }